<aside id="sidebar">
   <% theme.widgets.forEach(function(widget) { %>
        <%- partial('widget/' + widget) %>
    <% }) %>
    <div id="toTop" class="fa fa-angle-up"></div>
</aside>

<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=330 height=110 src="//music.163.com/outchain/player?type=0&id=596366614&auto=1&height=90" style="position:fixed; right:0px; bottom:0px;"></iframe>